@import 'variables';
@import 'mixins';

.add-bit {
  margin-top: get-rem(38);

  &__header {
    text-align: center;
  }

  &__footer {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    padding-top: 1rem;

    &__submit {

      &__btn {

        &[disabled] {
          background-color: rgba($link-color, .7);
        }
      }
    }

    &__big-bit {
      font-weight: 300;

      input {
        width: 1rem;
        height: 1rem;
        border: none;
        background: $white;
        margin: 0;
        padding: 0;
      }
    }
  }

  &__hr {
    margin-top: 2rem;
    border-bottom-color: $link-color;
  }

  &__input {
    $placeholder-color: rgba($black, .5);

    display: block;
    color: $black;
    font-size: 1rem;
    background-color: $pure-white;
    padding: get-rem(15);
    border-radius: get-rem(2);
    border: none;
    box-shadow: $shadow-light;
    width: 100%;
    margin-top: 1rem;
    outline: none;
    transition: box-shadow 300ms;

    &:focus {
      box-shadow: $shadow-purple;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }
    &::-moz-placeholder {
      color: $placeholder-color;
    }
    &:-ms-input-placeholder {
      color: $placeholder-color;
    }
    &:-moz-placeholder {
      color: $placeholder-color;
    }
    &::placeholder {
      color: $placeholder-color;
    }
  }
}


