@import 'variables';
@import 'mixins';

.all-bits {
  position: relative;
  margin-top: 4rem;

  &__header {
    text-align: center;
  }

  &__sort-btn {
    position: absolute;
    width: get-rem(40);
    height: get-rem(40);
    font-size: get-rem(20);
    top: 0;
    right: 0;
  }

  &__hr {
    margin-top: 2rem;
  }
}
