@import 'mixins';

/*------------------------------------*\
  #COLORS
\*------------------------------------*/
$black: #232323;
$white: #fdfdfd;
$light-gray: #e1e3e5;
$gray: #ababab;

$pure-white: #fff;
$pure-black: #000;
$shadow-transparent: 0px 0px 5px rgba(0, 0, 0, 0);
$shadow-default: 0px 0px 5px rgba(0, 0, 0, .25);
$shadow-light: 0px 0px 5px rgba(0, 0, 0, .15);
$shadow-purple: 0px 0px 7px rgba(#781bb6, .5);

/*------------------------------------*\
  #CONTEXTUAL COLORS
\*------------------------------------*/
// links
$link-color: #6399b8;
$focus-outline-color: #781bb6;

// backgrounds
$background-base: $light-gray;
$background-masthead: $white;

// messages
$background-error: #fcd6d4;
$background-success: #ceede3;
$border-error: #dd2113;
$border-success: #27aa7c;

// bit
$date-color: #590d08;

// timer
$timer: #098b5d;
$timer-warn: #e6830b;
$timer-alert: #dd2113;


/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/
$border-default: 1px solid #ababab;


/*------------------------------------*\
  #FONTS
\*------------------------------------*/
$base-font-size: 19px; // actual base font size
$base-scale: 19; // for calculating rem values

@function get-rem($size) {
  @return ($size / $base-scale) + rem;
}


/*------------------------------------*\
  #GRID BREAKPOINTS
\*------------------------------------*/
$md-min: 600px;


/*------------------------------------*\
  #BOX-MODEL
\*------------------------------------*/
$app-padding-top: get-rem(50);
$app-padding-top-md: get-rem(65);
